[submodule "tmux/tmux/plugins/tpm"]
	path = tmux/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/tmuxdir/plugins/tpm"]
	path = tmux/tmuxdir/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
