[submodule "tmux-plugin-managel"]
	path = tmux/tmuxdir/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "vundle.vim"]
	path = vim/vimdir/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
